h2 {
    text-align: bold;
    text-size-adjust: 50px;
}

.isi {
    border-style: dashed;
    font-size: xx-large;
}

.isi2 {
    border-style: dashed;
    font-size: xx-large;
    background-color: aqua;
}